<div class="page-header">
  <h3>Invite #<%= @invite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Event</dt>
      <dd>
        <% if @invite.event.present? %>
          <a href="/events/<%= @invite.event_id %>">
            <%= @invite.event.title %>
          </a>
        <% end %>
      </dd>

      <dt>Guest</dt>
      <dd>
        <% if @invite.guest.present? %>
          <a href="/users/<%= @invite.guest_id %>">
            <%= @invite.guest.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/invites" class="btn btn-primary">
        Back
      </a>
      <a href="/invites/<%= @invite.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_invite/<%= @invite.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
