<div class="page-header">
  <h1>
    Choices
    <a href="/choices/new" class="btn btn-lg btn-success">New Choice</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Event</th>
        <th>Venue</th>
        <th>Actions</th>
      </tr>

      <% @choices.each do |choice| %>
      <tr>
        <td><%= choice.event.title %></td>
        <td><%= choice.venue.address %></td>
        <td>
          <a href="/choices/<%= choice.id %>" class="btn btn-primary">Show</a>
          <a href="/choices/<%= choice.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_choice/<%= choice.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
