<div class="page-header">
  <h3>Choice #<%= @choice.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Event</dt>
      <dd><%= @choice.event_id %></dd>

      <dt>Venue</dt>
      <dd><%= @choice.venue_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/choices" class="btn btn-primary">
        Back
      </a>
      <a href="/choices/<%= @choice.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_choice/<%= @choice.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Choice has many votes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Votes
      </li>

      <% @choice.votes.each do |vote| %>
        <li class="list-group-item">
          <a href="/votes/<%= vote.id %>">
            <%= vote.choice_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/votes/<%= vote.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/votes/<%= vote.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_vote/<%= vote.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
