<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @event.title %></dd>

      <dt>Host</dt>
      <dd><%= @event.host_id %></dd>

      <dt>Start</dt>
      <dd><%= @event.start %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @event.host %>
        <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Event has many invites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Invites
      </li>

      <% @event.invites.each do |invite| %>
        <li class="list-group-item">
          <a href="/invites/<%= invite.id %>">
            <%= invite.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/invites/<%= invite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/invites/<%= invite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_invite/<%= invite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_invite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <%= select_tag(:guest_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Invite
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Event has many choices -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Choices
      </li>

      <% @event.choices.each do |choice| %>
        <li class="list-group-item">
          <a href="/choices/<%= choice.id %>">
            <%= choice.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/choices/<%= choice.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/choices/<%= choice.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_choice/<%= choice.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_choice" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :address), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Choice
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
