<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @event.title %></dd>

      <dt>Host</dt>
      <dd><%= @event.host_id %></dd>

      <dt>Start</dt>
      <dd><%= @event.start %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @event.host %>
        <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Event has many invites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Invites
      </li>

      <% @event.invites.each do |invite| %>
        <li class="list-group-item">
          <a href="/invites/<%= invite.id %>">
            <%= invite.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/invites/<%= invite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/invites/<%= invite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_invite/<%= invite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Event has many choices -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Choices
      </li>

      <% @event.choices.each do |choice| %>
        <li class="list-group-item">
          <a href="/choices/<%= choice.id %>">
            <%= choice.event_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/choices/<%= choice.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/choices/<%= choice.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_choice/<%= choice.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
