<div class="page-header">
  <h3>Vote #<%= @vote.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Choice</dt>
      <dd>
        <% if @vote.choice.present? %>
          <a href="/choices/<%= @vote.choice_id %>">
            <%= @vote.choice.event_id %>
          </a>
        <% end %>
      </dd>

      <dt>Guest</dt>
      <dd>
        <% if @vote.guest.present? %>
          <a href="/users/<%= @vote.guest_id %>">
            <%= @vote.guest.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/votes" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @vote.guest %>
        <a href="/votes/<%= @vote.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_vote/<%= @vote.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
